body{
    background: linear-gradient(135deg, #0B0B12, #121225, #1A1A33, #FF4D9D);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "yeuleFont", sans-serif;
}

.projectBox.hidden {
display: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

/*Sets up our custom ttf font*/
@font-face {
    font-family: "yeuleFont";
    src: url("CinzelDecorative-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/*                                            HEADER / NAVBAR STUFF                                                   */

header{
    /*We make the header take up the whole width of the page so we can pass that down to navbar ul*/
    width: 100%;
}

.navbar {
    /*Once again make it 100% so the .navbar takes up the entire header*/
    width: 100%;
    display: flex;

    /*Makes our items stack vertically*/
    flex-direction: column;
    /*Makes our items stack top part of main axis (vert since direction is column)*/
    justify-content: flex-start;
    /*Makes our items line up in the middle of cross axis (horz axis since direction is column)*/
    align-items: center;
    /*Nav bar color*/
    background-color: #1A1A33;
    /*Makes bottom of navbar rounded*/
    border-radius: 2rem;
    /*Gives the navbar an outline*/
    border: 0.5rem solid #2A2A4A;
}

.navbar ul{
    /*Makes it so the enitre ul takes up the entire space its given*/
    width: 100%;
    /*Removes bullet points*/
    list-style-type: none;

    /*Makes ul a row*/
    display: flex;
    flex-direction: row;

    /*Removes weird padding on left side*/
    padding-left: 0;

    /*Spaces out three buttons at top*/
    justify-content: center;

    gap: 3rem;

    /*Gives buttons that rounded look*/
    margin-bottom: 1.5rem;
}

.whiteAndBoring{
    /*Text style applied to all text I want white*/
    text-decoration: none;
    color: #F3F4FF;
}

.pinkAndInteresting{
    /*Text style applied to all text I want pink*/
    text-decoration: none;
    color: #C63CFF;
}

.navbar a{
    /*Add alittle room to sides. L and R are longer*/
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

}

.navbar a:hover{
    /*When you hover the thingys at the top they are pink/transparent and rounded*/
    background: linear-gradient(90deg, #FF6FB1, #FF4D9D, #C63CFF);
    border-radius: 2rem;
}

.siteName{
    /*Makes everything in a row and top cenetered*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.siteName img{
    /*Sets cow img sizes*/
    width: 10%;
}

/*Sets up page header (ex: projects home about txt) to be centered*/
.pageHeader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

/*Makes our page nav bar sticky*/
.sticky{
    position: sticky;
    /*-15% so the middle of the bar sticks and the rest is hidden*/
    top: -15%;
    /*Makes sure its always shown*/
    z-index: 1000;
}

/*                                       END OF HEADER / NAVBAR STUFF                                                 */



/*                                                PROJECTS STUFF                                                      */

/*This is the entire div where all the projects are*/
.projects{
    display: flex;
    flex-direction: row;
    /*Makes projects wrap so theyre not all crammed on one line*/
    flex-wrap: wrap;
    /*Make everything start from the left*/
    justify-content: center;
    /*Little breathing room between projects*/
    gap: 1rem;
}

/*For individual projects*/
.projectBox{
    display: flex;
    /*Sets everything column mode*/
    flex-direction: column;
    /*Far left as possible*/
    align-items: flex-start;
    /*Set width to 24 instead of 25 because with boarder it doesnt fit*/
    width: 24%;
    background-color: #1A1A33;
    /*Makes bottom of navbar rounded*/
    border-radius: 2rem;
    /*Gives the navbar an outline*/
    border: 0.5rem solid #2A2A4A;
    /*Breathing room from the side of box*/
    padding: 1rem;
    /*Removes underlines from links*/
    text-decoration: none;
}

.fadeIn {
    animation: fadeInUp 1000ms ease;
}

@keyframes fadeInUp {
    from { opacity: 0; transform: translateY(10px); }
    to   { opacity: 1; transform: translateY(0); }
}

/*Whne you hover the project box itll change bg to gradient*/
.projectBox:hover{
    background: linear-gradient(90deg, #FF6FB1, #FF4D9D, #C63CFF);
    border-radius: 2rem;
}

/*Makes text close*/
.projectBox p{
    padding: 0;
    margin: 0;
}

/*Centers photo only*/
.projectBox img{
    width: 50%;
    align-self: center;
    padding-bottom: 1rem;
}

/*Makes the line strech the entire length of the box*/
.projectBox hr{
    width: 100%;
    align-self: stretch;
}

/*Makes the small text small*/
.smallText{
    font-size: 0.75rem;
}

.medText{
    font-size: 1.25rem;
}

/*                                           END OF PROJECT STUFF                                                     */



/*                                                 FOOTER STUFF                                                       */

footer{
    width: 100%;
    background-color: #1A1A33;
    border: 0.5rem solid #2A2A4A;
    border-radius:  2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;

    margin-top: 1rem;
    padding:  1rem;
}

footer img{
    width: 5rem;
}

/*                                             END OF FOOTER STUFF                                                    */



/*                                                  HOME STUFF                                                        */

.threeByThreeGrid{
    display: grid;
    width: 100%;
    align-self: stretch;
    grid-template-rows: repeat(3, 10rem);
    grid-template-columns: repeat(3, 10rem);
}